:root {
    /* Background Color */
    --custom-gray-1: #D5D9DD;
    --custom-gray-3: #E3E3E3;
    --custom-green-1: #07A072;
    --custom-red-1: #D94343;
    --custom-white-1: #F4F4F4;
    --custom-green-2: #07543D;
    --custom-orange-1: #F36B30;
    --custom-gray-5: #EEF0F6;

    /* Font Color */
    --custom-gray-2: #58625A;
    --custom-gray-4: #4D4747;

    /* Border Radius */
    --border-radius-40: 40px; 

    /* Font Family */
    --font-quicksand: 'Quicksand', sans-serif;
    --font-montserrat: 'Montserrat', sans-serif;

    /* Font Size */
    --font-size-13: 13px;

    /* Max Width */
    --max-w-w1: 45rem;
    --max-w-w2: 50rem;
}

/* Background Color */
.bg-custom-gray-3 {
    background-color: var(--custom-gray-3);
}

.bg-custom-orange-1 {
    background-color: var(--custom-orange-1);
}

.bg-custm-red-1 {
    background-color: var(--custom-red-1);
}

/* Font Color */
.font-custom-gray-2 {
    color: #000;
}

.font-custom-gray-4 {
    color: var(--custom-gray-4);
}

/* Border */
.border-radius-40{
    border-radius: var(--border-radius-40);
}

/* Font Size */
.text-13 {
    font-size: var(--font-size-13);
}

.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem; 
}

/* Max Width */
.max-w-w1 {
    max-width: var(--max-w-w1);
}

.max-w-w2 {
    max-width: var(--max-w-w2);
}

/* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Quicksand */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

/* Font Family */
.font-quicksand {
    font-family: 'Quicksand', sans-serif;
}

.font-montserrat {
    font-family: 'Montserrat', sans-serif;
}

/* Background */
button:focus {
    outline: none;
}

button:hover {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.icon {
    width: 90%;
    height: 90%;
}

Button:hover {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}